{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid back">
    <h1 class="display-1">Timeless</h1>
  </div>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
            <div class="card" style="margin-top: 20px;">
              <img class="card-img-top" src="img/bg7.jpg" alt="Card image cap" style="height: 300px;">
            </div>
        </div>
        <div class="col-md-7">
          <h2 class="story">It&backprime;s Story Time</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nobis voluptatum, aliquam ullam quos dolorem. Non doloremque asperiores odit omnis sequi a quo, vero vitae alias excepturi! Commodi, blanditiis saepe.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nobis voluptatum, aliquam ullam quos dolorem. Non doloremque asperiores odit omnis sequi a quo, vero vitae alias excepturi! Commodi, blanditiis saepe.</p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}