{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid back">
    <h1 class="display-1">Timeless</h1>
  </div>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
            <div class="card" style="margin-top: 20px;">
              <img class="card-img-top" src="img/bg7.jpg" alt="Card image cap" style="height: 300px;">
            </div>
        </div>
        <div class="col-md-7">
          <h2 class="story">It&backprime;s Story Time</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nobis voluptatum, aliquam ullam quos dolorem. Non doloremque asperiores odit omnis sequi a quo, vero vitae alias excepturi! Commodi, blanditiis saepe.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nobis voluptatum, aliquam ullam quos dolorem. Non doloremque asperiores odit omnis sequi a quo, vero vitae alias excepturi! Commodi, blanditiis saepe.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <h2>Features</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <img class="card-img-top" src="img/bg3.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <img class="card-img-top" src="img/bg3.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="card">
              <img class="card-img-top" src="img/bg3.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container-fluid text-center back-2">
      <div class="row justify-content-md-center">
        <div class="col-12 paddy" style="color: #ffffff; padding: 100px 0;">
          <h2>Don't Wait No More</h2>
          <h5 class="lead">Create Your Free Account Today</h5>
          <button type="button" class="btn outy">Sign Up</button>
        </div>
      </div>
    </div>
  </main>
{% endblock %}